

body{
	margin: 10px auto;
	width:1000px;
	box-shadow: 3px 3px 10px #FFCC66;
	border:1px solid #FF6600;
}
h3{
	font-size : 20px; 
	color : #000000; 
    text-shadow: 1px 1px 0px #000000;
}
button{
	font-size : 16px; 
    font-family : Arial, Helvetica, sans-serif; 
    color : #FFFFFF; 
    text-shadow: 1px 1px 0px #FFFFFF;
    text-align : center; 
    background-color : #FF9933; 
}

button a: hover{
	border:#000000 1px solid;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:12px;
	
	background:#FFFFFF;
	margin:20px;
	border:#FF6600 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #FF9933;
	-webkit-box-shadow: 0 1px 2px #FF9933;
	box-shadow: 0 1px 2px #FF9933;
}
table th {
	padding:18px;
    font-size : 16px; 
    font-family : Arial, Helvetica, sans-serif; 
    color : #FFFFFF; 
    text-shadow: 1px 1px 0px #FFFFFF;
    text-align : center; 
    background-color : #FF9933; 
}
table tr {
	text-align: center;
	padding-left:20px;
}

table td {
	padding:18px;
	background-color : #FFCC66;
	border-top: 1px solid #FF9933;
	border-bottom:1px solid #FF9933;
	border-left: 1px solid #FF9933;
	border-right: 1px solid #FF9933;

	background: #FFFF99;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFF99), to(#FFCC66));
	background: -moz-linear-gradient(top,  #FFFF99,  #FFCC66);
}
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:underline;
}
table a:visited {
	color: #FF9933;
	font-weight:bold;
	
}
table a:active,
table a:hover {
	color: #FF6600;
	}


table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #FFCC33;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFCC66), to(#FFCC33));
	background: -moz-linear-gradient(top,  #FFCC66,  #FFCC33);
}
.header{
	width:auto;
	margin:0 auto;
}
.header div{
	width:960px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}

.header div a img{
	display:block;
    width:auto;
    margin-left:auto;
    margin-right:auto;
}

.header div#navigation{
	height:40px;
	background:#FF9933;
	width:auto;
}
.header div#navigation ul{
	list-style:none;
	margin:0 auto;
	padding:0 300px;
	width:920px;
	overflow:hidden;
	
}
.header div#navigation ul li{
	float:left;
	width:131px;
	text-align:center;
}
.header div#navigation ul li a{
	font-family: arial;
	color:#FFFFFF;
	text-shadow: 0 -1px 0 #920052;
	font-size:16px;
	text-decoration:none;
	line-height:40px;
	font-weight: normal;
}
.header div#navigation ul li a:hover{
	color:#FFFFFF;
	font-weight:bold;
	text-shadow:none;
}





